*{
    padding: 0;
    margin: 0;
}
.main{
    height: 2952px;
     background-color: rgba(0, 137, 183, 1);
}
.navbar{
    height: 80px;
   
    display: flex;
    align-items: center;
    background-color: rgba(0, 137, 183, 1);
    color: white;
}
.name{
    height: 40px;
    width: 30%;
    
    font-size: 36px;
    font-weight: 800;
    padding-left: 60px;

}
.upperopt{
    width: 70%;
    height: 40px;
    
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    justify-content: flex-end;
    padding-right: 40px;


}
.upperopt p{
    margin-left: 20px;
}
.upperopt p:hover{
    font-size: 26px;
}
.heropart{
    height: 707px;
    
    background-color: rgba(0, 61, 98, 1);
    display: flex;
    color: white;
}
.heroimg{
    width: 50%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;

}
.heroimg img{

    border-radius: 50%;
    
    
     box-shadow: 0 0 3px 3px rgb(255, 255, 255,0.5) ;
     background-image: linear-gradient(to bottom,#085388,#13133a);
}
.heroimg img:hover{
    height: 600px;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255,0.5) ;
   
}
.about{
    width: 50%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.about p{
    font-size: 36px;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#hi{
    font-size: 70px;
    font-weight: 600;
    color: #ffff64;
}
#myname{
    font-size: 65px;
    font-weight: 600;
}
#skill{
    font-size: 45px;
}
.gridcontainer{
    height: 1430px;
    
    margin-top: 4px;
   background-color: rgba(0, 50, 81, 1);
   padding-top: 80px;
   display: flex;
   align-items: center;
   flex-direction: column;
}
.gridcontainer h1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 72px;
    font-weight: 700;


}
.grid{
    margin-top: 80px;
    height: 1168px;
   
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px 20px;
}
.grid a{

   
    background-size: cover;
    border-radius: 10px;

}
.grid a:hover{
    box-shadow: 0 0 3px 3px rgb(255, 255, 255,0.5);
}
#photo1{
    background-image: url("photo1.png");
    background-size: 350px;
    background-position: -10px -10px;

}
#photo2{
    background-image: url("photo2.png");
    background-size: 320px;
    background-position: 0 -10px;
}
#photo3{
    background-image: url("photo3.png");
    background-position: 0 -1px;
}
#photo4{
    background-image: url("photo4.png");
    background-position: 0 -5px;
}
#photo5{
    background-image: url("photo5.png");
}
#photo6{
    background-image: url("photo6.png");
}
#photo7{
    background-image: url("photo7.png");
}
#photo8{
    background-image: url("photo8.png");
}
#photo9{
    background-image: url("photo9.png");
}


.contactpart{
    height: 550px;
    
    background-color: rgba(0, 61, 98, 1);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.contactpart p{
    font-size: 72px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#iconcontainer{
    height: 40%;
    width: 61%;
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.icon{
    height: 44px;
    width: 250px;
    margin-top: 30px;
    color: white;
    display: flex;
    align-items: center;
    
   
    font-size: 40px;
    
}
.icon p{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 24px;
     font-weight: 700;


}






.last{
    height: 100px;
    color: white;
    background-color: rgba(1, 41, 65, 1);
    font-size: 24px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
