*{
    margin: 0;
    padding: 0;
}
.main{
    height: 4678px;
   
}
.navbar{
    height: 50px;
    
     background-color: hwb(250 4% 62%);
      color: white;
      display: flex;
}
.name{
    width: 30%;
    
    height: 100%;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    padding-left: 90px;
    align-items: center;
   
   
}
.otheropt{
    width: 70%;
    height: 100%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.otheropt p{
    font-size: 17px;
    font-weight: 500;
    margin-right: 30px;


}
.otheropt p:hover{
    font-size: 20px;
}

.heropart{
    height: 950px;
   
    background-image: url("hero1.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white
}
.heropart h1{
    font-size: 72px;
    font-weight: 700;

}
.heropart h6{
    font-size: 24px;
    font-weight: 400;
    margin-top: 40px;


}
.heropart p{
    font-size: 18px;
    font-weight: 400;
    width: 780px;
    text-align:start;
    margin-top: 20px;

}
.section1{
    height: 806px;
    border: 1px solid black;
    background-color: rgba(40, 17, 84, 1);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section1 h1{
    margin-top: 30px;
    font-size: 36px;
    font-weight: 700;
}
.section1 h6{
    margin-top: 15px;
    font-size: 24px;
    font-weight: 600;
}
.section1 p{
    font-size: 18px;
    margin-top: 25px;
    font-weight: 400;
    width: 970px;
    text-align: center;
}
.section1 button{
    width: 183px;
    height: 55px;
    text-decoration: none;
    color: white;
    background-color: rgba(220, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
    margin-top: 40px;
    border: none;
}
.section1 button:hover{
    box-shadow: 0 0 3px 3px rgb(255,255,255,0.5);

}
.section1 button:active{
    box-shadow: none;
}
#orange{
    font-size: 14px;
    font-weight: 300;
    margin-top: 30px;
}
.floating{
    width: 915px;
    height: 664px;
   
    justify-self: center;
    background-image: url("");
    z-index: 2;
    position: absolute;
    top: 1500px;


}
.tab{
    width: 80%;
    height: 70%;
    border: 25px solid black;
    background-image: url("screen.png");
    background-size: cover;
    border-radius: 25px;
    outline: grey solid 1px;
    
}
.mobile{
    z-index: 4;
    height:563px ;
    width:275px ;
    border: 10px solid black;
    position: absolute;
    top: 50px;
    right: 10px;
    border-radius: 30px ;
    outline: grey solid 1px;
    background-image: url("screen.png");
    background-size: cover;
    background-position: -20px 0px;
}
.mobile div{
    height: 20px;
    width: 50%;
    background-color: black;
    justify-self: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}




.laptopsection{
    height: 1000px;
    border: 1px solid black;
    padding-top: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.laptopsection h2{
    font-size: 24px;
    font-weight: 600;
}
.laptopsection p{
    width: 1100px;
    font-size: 18px;
    font-weight: 300;
   margin-top: 40px; 
}
.laptopsection button{
    width: 133px;
    height: 50px;
    border: none;
    background-color: rgba(55, 0, 142, 1);
    color: white;
    font-size: 18px;
    font-weight: 300;
    border-radius: 5px;
    margin-top: 50px;
}
.laptopsection button:hover{
    box-shadow: 0 0 3px 3px rgb(0,0,0,0.5);
}
.laptopsection button:active{
    box-shadow:none;
}

.laptopimg{
    width: 1024px;
    height: 600px;
   
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
#screen{
    border: 25px solid black;
    border-top: 30px solid black;
    border-radius: 30px;
    height:494px ;
    width: 792px;
    background-image: url("laptopscreen.png");
    background-size: 850px;
    background-position: -10px 0;
     
}
#bottomlid{
    width: 1000px;
    height: 12px;
    position: relative;
    top: -15px;
    background-image: linear-gradient(to right,rgba(113, 117, 118, 1),rgba(156, 159, 161, 1),rgba(156, 159, 161, 1),rgba(121, 126, 130, 1),rgba(121, 126, 130, 1),rgba(178, 181, 183, 1),rgba(202, 205, 207, 1),rgba(202, 205, 207, 1));
    display: flex;
    justify-content: center;
}
#centerdiv{
    height: 80%;
    width: 170px;
   
    background-image: linear-gradient(to bottom, grey,rgb(0,0,0,0.5));
    border-bottom-left-radius:15px ;
    border-bottom-right-radius: 15px;

}
#bottomlaptop{
    width: 998px;
    height: 10px;
    
    background-image: linear-gradient(to bottom, grey, black);
    margin-top: -15px;
    border-bottom-right-radius:40px ;
    border-bottom-left-radius: 40px;
}


.section2{
    height: 700px;
   
    background-image: url("enjoy.jpg");
    
    background-size: cover;
    color: white;
    
}
.section21{
    background-image: linear-gradient(to right,rgba(3, 0, 12, 0.5),rgba(34, 16, 89, 0.5));
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    

}
.section21 h2{
    font-size: 24px;
    font-weight: 700;
    margin-top: 200px;
    
}
.section21 p{
    font-size: 14px;
    font-weight: 700;
    width: 900px;
    text-align: center;
    margin-top: 50px;
}
.giftcardsec{
    height: 500px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.giftimg{
    width: 40%;
    height: 80%;
    
    background-image: url("giftimg.png");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0 30px;
}
.aboutgift{
    width: 40%;
    height: 80%;
    
   padding-left: 30px;
  
}
.aboutgift span{
    font-size: 24px;
    font-weight: 800;
    

}
.aboutgift p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 50px;
}
#Redeem{
    height: 39px;
    width:113px ;
    border: none;
    background-color: rgba(55, 0, 142, 1);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
    color: white;

}
#Redeem:hover{
    box-shadow: 0 0 3px 3px rgb(0,0,0,0.5);
}
#Redeem:active{
    box-shadow: none;
}

footer{
    height: 300px;
    
}
.lastabout{
    height: 260px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(27, 0, 88, 1);
    color: white;
}
.lastabout p{
    height: 160px;
    width: 250px;
   
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    padding-left: 90px;
    
}
.lastabout p span{
    font-size: 18px;
    font-weight: 600;
    
    border-bottom: 1px solid white;
    
    
}

.copyright{
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(39, 0, 130, 1);
}